.history .box{

    background-color: rgba(219, 211, 211, 0.877);
    border: 5px solid black;
    color:black;
    padding:10px;
    /* margin-bottom: 100px; */
    width:90%;
    height: auto;
    margin:0px 0px 30px 18px;
    font-size:15px;
}

.history .okButton{

    background-color: gray;
    border: 2px solid black;
    color: white;
    width: 40%;
    margin: 0px 0px 0px 0px;

}

.history .boxHeader{

    background-color: black;
    color:white;
    padding:10px;
    width:90%;
    height: 50px;
    margin:0px 0px 30px 18px;
    font-size:20px;
}

.table{
    padding-bottom: 10px;
}

.tr{
    margin-bottom: 50px;
}