
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myReservationLabel" data-translate="ticketingSystemApp.reservation.home.createOrEditLabel">Create or edit a Reservation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.reservation.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.reservation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ticketingSystemApp.reservation.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.reservation.date" is-open="vm.datePickerOpenStatus.date"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.date.$invalid">
                <p class="help-block"
                    ng-show="editForm.date.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="ticketingSystemApp.reservation.vehicle" for="field_vehicle">Vehicle</label>
            <select class="form-control" id="field_vehicle" name="vehicle" ng-model="vm.reservation.vehicleId" ng-options="vehicle.id as vehicle.vehicle_name for vehicle in vm.vehicles"             required>
            </select>
        </div>
        <div ng-show="editForm.vehicle.$invalid">
            <p class="help-block"
                ng-show="editForm.vehicle.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="ticketingSystemApp.reservation.seat" for="field_seat">Seat</label>
            <select class="form-control" id="field_seat" name="seat" ng-model="vm.reservation.seatId" ng-options="seat.id as seat.seat_id for seat in vm.seats | orderBy:'id'" required>
            </select>
        </div>
        <div ng-show="editForm.seat.$invalid">
            <p class="help-block"
                ng-show="editForm.seat.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
