
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRouteLabel" data-translate="ticketingSystemApp.route.home.createOrEditLabel">Create or edit a Route</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.route.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.route.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ticketingSystemApp.route.route_name" for="field_route_name">Route Name</label>
            <input type="text" class="form-control" name="route_name" id="field_route_name"
                    ng-model="vm.route.route_name"
                    required/>
            <div ng-show="editForm.route_name.$invalid">
                <p class="help-block"
                    ng-show="editForm.route_name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ticketingSystemApp.route.distance" for="field_distance">Distance</label>
            <input type="number" class="form-control" name="distance" id="field_distance"
                    ng-model="vm.route.distance"
                    required/>
            <div ng-show="editForm.distance.$invalid">
                <p class="help-block"
                    ng-show="editForm.distance.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.distance.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ticketingSystemApp.route.remarks" for="field_remarks">Remarks</label>
            <input type="text" class="form-control" name="remarks" id="field_remarks"
                    ng-model="vm.route.remarks"
                    />
        </div>

        <div class="form-group">
            <label data-translate="ticketingSystemApp.route.vehicle" for="field_vehicle">Vehicle</label>
            <select class="form-control" id="field_vehicle" name="vehicle" ng-model="vm.route.vehicleId" ng-options="vehicle.id as vehicle.vehicle_name for vehicle in vm.vehicles"             required>
            </select>
        </div>
        <div ng-show="editForm.vehicle.$invalid">
            <p class="help-block"
                ng-show="editForm.vehicle.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
